  <md-content>
   <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="feed" ng-href="/">
        <md-icon class="material-icons">view_stream</md-icon>
        <md-tooltip>Feed</md-tooltip>
      </md-button>
      <h2>
        <span>PanoramaGram</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button">
        <a ng-href="account"><md-icon class="material-icons" >account_circle</md-icon></a>
        <md-tooltip>My Profile</md-tooltip>
      </md-button>
    </div>
    </md-toolbar>
  </md-content>
</div>

<br>


<md-content layout="row" layout-align="center center">
	<md-content class="md-padding">
		<md-card class="panocard">
		<div layout="column" layout-align="center center" ng-repeat="image in pictures" ng-show="currentImage === image.$id">
			<photosphere src='{{image.picture}}'
				width="325"
				height="200"
				speed="3"
				resolution="20"
				controlls="all"
			></photosphere>
		</div>

		  <md-card-content>
		    <h2 class="md-title">Comments</h2>
		  <!-- COMMENTS SECTION -->
		  <md-content flex=""> 
		    <md-list >
		      <!-- NG-SHOW WILL ONLY SHOW COMMENTS WITH AN IMAGEID THAT MATCH THE SELECTED IMAGE -->
		      <md-list-item ng-repeat="comment in comments" class="md-3-line" ng-show="currentImage === comment.imageID" >
		        <img ng-src="{{users[comment.userId].profilePic}}" alt="{{item.who}}" class="md-avatar">
		        <div class="md-list-item-text">
					<h3>{{users[comment.userId].userName}}</h3>
					<p>
					{{comment.body}}
					</p>
					<md-button ng-click="showAdvanced($event, comment, $index)" class="md-primary" ng-show="currentUser === comment.userId ">Edit comment </md-button>
					<md-button class="md-warn" ng-click="userRemoveComment(comment)" ng-show="currentUser === comment.userId ">Delete comment </md-button>
		        </div>
		      </md-list-item>
		    </md-list>
		  </md-content> <!-- END COMMENTS SECTION -->
		<br>
		<!-- FORM SECTION -->
		<form ng-submit="userPostComment()">
		   	<div layout="" layout-sm="column">
				<md-input-container flex="" >
				  <label>Enter a comment</label>
				  <textarea name="" ng-model="newComment.userSays" ng-keydown="$event.which === 13 && userPostComment()">New Comment</textarea>
				</md-input-container>
			</div>

			</md-card-content>
				<div class="md-actions" layout="row" layout-align="end center">
					<md-button type="submit">
						<md-icon class="material-icons">send</md-icon>
						<md-tooltip>Submit</md-tooltip>
					</md-button>
					</form> <!-- END FORM SECTION -->
				</div>
		</md-card>

