<md-dialog aria-label="Edit Comment"  ng-cloak>
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Please Login</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
      	<md-icon  aria-label="Close dialog" class="material-icons">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content >
    <div class="md-dialog-content">
      <h2>Login with your social account :</h2>
      

      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <md-button style="color: #D50F25;" ng-click="login()">Google+</md-button>
        <md-button style="color: #3b5998;" ng-click="loginFacebook()">facebook</md-button>
        <md-button style="color: #55acee;" ng-click="loginTwitter()">twitter</md-button>
      </section>

      <h2>{{userData.google.displayName}}</h2>
      <img src= "{{userData.google.profileImageURL}}">
      <h2>{{userData.twitter.displayName}}</h2>
      <img src= "{{userData.twitter.profileImageURL}}">



    </div>
  </form>


</md-dialog>