<div ng-cloak>
	<md-content>
	 <md-toolbar>
	  <div class="md-toolbar-tools">
	    <md-button class="md-icon-button" aria-label="home" ng-href="/">
	      <md-icon class="material-icons">home</md-icon>
	    </md-button>
	    <h2>
	      <span>AVA</span>
	    </h2>
	    <span flex></span>
	    <md-button class="md-icon-button" aria-label="Favorite">
	      <a ng-href="explore" ng-href="explore"><md-icon class="material-icons">explore</md-icon></a>
	    </md-button>
	    <md-button class="md-icon-button" aria-label="Sign In" ng-click="showAdvanced($event, user, $index)">
	      <a ng-href="account"><md-icon class="material-icons" >account_circle</md-icon></a>
	    </md-button>
	  </div>
	  </md-toolbar>
	</md-content>
</div>

<md-content layout="column">
	<md-content class="md-padding">
		<md-card>
		 
		 <!-- PHOTOSPHERE IMAGE -->
         <div id="pano-canvas" style="height: 500px"></div>
		<!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
			<md-toolbar md-scroll-shrink="" ng-if="true">
				<div class="md-toolbar-tools">
				  <h3>
				    <span>Seattle Something</span>
				  </h3>
				</div>
			</md-toolbar>
		  <md-card-content>
		    <h2 class="md-title">Comments go HERE</h2>
		  		<!-- COMMENTS SECTION -->
		  <md-content flex="">
		    <md-list>
		      <md-list-item class="md-3-line" ng-repeat="comment in comments | filter: search.text | orderBy: search.group:direction">
		        <img ng-src="{{users[comment.userId].profilePic}}" alt="{{item.who}}" class="md-avatar">
		        <div class="md-list-item-text">
		        	<h3>{{users[comment.userId].userName}}</h3>
		          <!-- <h3>{{comment.userId}}</h3> -->
		          <!-- <h4>{{comment.$id}}</h4> -->
		          <p>
		            {{comment.body}}
		          </p>
		          <md-button ng-click="showAdvanced($event, comment, $index)" class="md-primary" ng-show="currentUser === comment.userId ">Edit comment </md-button>
		          <md-button class="md-warn" ng-click="userRemoveComment(comment)" ng-show="currentUser === comment.userId ">Delete comment </md-button>
		        </div>
		      </md-list-item>
		    </md-list>
		  </md-content> <!-- END COMMENTS SECTION -->
		<br>
		<!-- FORM SECTION -->
		<form ng-submit="userPostComment()">
		   	<div layout="" layout-sm="column">
				<md-input-container flex="" >
				  <label>Enter a comment</label>
				  <textarea name="" ng-model="newComment.userSays" ng-keydown="$event.which === 13 && userPostComment()">New Comment</textarea>
				</md-input-container>
			</div>

			</md-card-content>
				<div class="md-actions" layout="row" layout-align="end center">
					<md-button type="submit">
						<md-icon class="material-icons">send</md-icon>
						<md-tooltip>Submit</md-tooltip>
					</md-button>
					</form> <!-- END FORM SECTION -->
				</div>
		</md-card>

