<md-content layout="column">
	<md-content class="md-padding">
		<md-card>
		  <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
			<md-toolbar md-scroll-shrink="" ng-if="true">
				<div class="md-toolbar-tools">
				  <h3>
				    <span>Seattle Something</span>
				  </h3>
				</div>
			</md-toolbar>
		  <md-card-content>
		    <h2 class="md-title">Comments go HERE</h2>

		<!-- COMMENTS SECTION -->
<!-- 		  <md-content flex="">
		    <md-list>
		      <md-list-item class="md-3-line" ng-repeat="user in users | filter: search.text | orderBy: search.group:direction">
		        <img ng-src="{{userData.google.profileImageURL}}" alt="{{item.who}}" class="md-avatar">
		        <div class="md-list-item-text">
		          <h3>{{user.user.google.displayName}}</h3>
		          <h4>{{user.$id}}</h4>
		          <p>
		            {{user.body}}
		          </p>
		          <md-button ng-click="showAdvanced($event, user, $index)" class="md-primary" >Edit comment </md-button>
		          <md-button class="md-warn" ng-click="removeComment(user)" >Delete comment </md-button>
		        </div>
		      </md-list-item>
		    </md-list>
		  </md-content> END COMMENTS SECTION -->
		  		<!-- COMMENTS SECTION -->
		  <md-content flex="">
		    <md-list>
		      <md-list-item class="md-3-line" ng-repeat="comment in comments | filter: search.text | orderBy: search.group:direction">
		        <img ng-src="{{users[comment.userId].profilePic}}" alt="{{item.who}}" class="md-avatar">
		        <div class="md-list-item-text">
		        	<h3>{{users[comment.userId].userName}}</h3>
		          <!-- <h3>{{comment.userId}}</h3> -->
		          <h4>{{comment.$id}}</h4>
		          <p>
		            {{comment.body}}
		          </p>
		          <md-button ng-click="showAdvanced($event, user, $index)" class="md-primary" >Edit comment </md-button>
		          <md-button class="md-warn" ng-click="removeComment(user)" >Delete comment </md-button>
		        </div>
		      </md-list-item>
		    </md-list>
		  </md-content> <!-- END COMMENTS SECTION -->
		<br>
		<!-- FORM SECTION -->
		<form ng-submit="userPostComment()">
		   	<div layout="" layout-sm="column">
				<md-input-container flex="" >
				  <label>Enter a comment</label>
				  <textarea name="" ng-model="newComment.userSays">New Comment</textarea>
				</md-input-container>
			</div>

			</md-card-content>
				<div class="md-actions" layout="row" layout-align="end center">
					<md-button type="submit">
						<md-icon class="material-icons">send</md-icon>
						<md-tooltip>Submit</md-tooltip>
					</md-button>
					</form> <!-- END FORM SECTION -->
				</div>
		</md-card>


<!-- <h1> old comment form</h1>
<form ng-submit="userPostComment()">
	<label for="">
		<input type="hidden" ng-model="newComment.user" placeholder="{{userData.google.displayName}}" value="{{userData.google.displayName}}" autofocus>
	</label>
	<label for="">
		<textarea name="" ng-model="newComment.userSays">New Comment</textarea>
	</label>
	<button type="submit">Submit</button>
</form>

<form>
	<label for="">
		<input type="text" ng-model="search.text" placeholder="search here" autofocus>
	</label>
	<label for="">
		<select name="" id="" ng-model="search.group">
			<option value="name">Name</option>
			<option value="reknown">Reknown</option>
		</select>
	</label>

	<label for="ascending">
		<input type="radio" ng-model="direction" name="direction" id="ascending" checked>Ascending
	</label>
	<label for="descending">
		<input type="radio" ng-model="direction" name="direction" id="descending" value="reverse">Descending
	</label>
</form> -->

</md-content>

