<div ng-cloak>
  <md-content>
   <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="home" ng-href="/">
        <md-icon class="material-icons">home</md-icon>
      </md-button>
      <h2>
        <span>AVA</span>
      </h2>
      <span flex></span>
      <md-button ng-show="userData" class="md-icon-button" aria-label="Favorite">
        <a ng-href="explore" ng-href="explore"><md-icon class="material-icons">explore</md-icon></a>
      </md-button>
      <md-button ng-show="userData" class="md-icon-button" aria-label="Sign In" ng-click="showAdvanced($event, user, $index)">
        <a ng-href="account"><md-icon class="material-icons" >account_circle</md-icon></a>
      </md-button>
    </div>
    </md-toolbar>
  </md-content>
</div>

<!-- <div id="pano-canvas" style="height: 500px"></div> -->
<!-- <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
  <md-button class="md-raised md-accent" ng-href="explore">explore</md-button>
 -->
      <!-- <md-button class="md-raised">Button</md-button> -->
<!--       <md-button class="md-raised md-primary" ng-click="loginDialog($event, user, $index)">Login</md-button>
      <md-button class="md-raised md-primary" ng-click="login()">Login with github</md-button> -->
      <md-button class="md-raised md-warn" ng-click="logout()" ng-show="userData">LogOut</md-button>
<!--       <md-button class="md-raised md-accent" ng-show="userData" ng-href="explore">explore</md-button> -->
      <!-- <md-button class="md-raised md-warn">Warn</md-button>
      <div class="label">Raised</div> -->


</section>

<div layout="column" layout-align="center center">
<!--     <div id="spin"></div>
    <h1>Firepano</h1>
    <input class="hidden" type="file" accept="image/*" capture="camera" id="file-upload">
    <br/>
    <img class="pano" id="pano" /> -->
    
    <h2>Login with your social account :</h2>
      
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <md-button ng-hide="userData" style="color: #D50F25;" ng-href="account" ng-click="login()">Google+</md-button>
        <md-button ng-hide="userData" style="color: #3b5998;" ng-href="account" ng-click="loginFacebook()">facebook</md-button>
        <md-button ng-hide="userData" style="color: #55acee;" ng-href="account" ng-click="loginTwitter()">twitter</md-button>
      </section>

  <div ng-show="userData" layout="column" layout-align="center center">
    <h2>{{userData.facebook.displayName}}</h2>
    <img src= "{{userData.facebook.profileImageURL}}">
    <h2>{{userData.google.displayName}}</h2>
    <img src= "{{userData.google.profileImageURL}}">
    <h2>{{userData.twitter.displayName}}</h2>
    <img src= "{{userData.twitter.profileImageURL}}">

    <pre>{{userData}}</pre>  

  </div>

<!--   pano stuff -->
<!--   <div id="pano-canvas" style="height: 500px"></div> -->


</div>



