<div>
  <md-content>
   <md-toolbar >
    <div class="md-toolbar-tools" layout="row" layout-align="center center">
      <h2 flex="15">
        <span flex>PanoramaGram</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-show="userData" flex="15">
        <a ng-href="account"><md-icon class="material-icons" >account_circle</md-icon></a>
        <md-tooltip>My Profile</md-tooltip>
      </md-button>
    </div>
    </md-toolbar>
  </md-content>
</div>
</div>

</section>

<div layout="column" layout-align="center center" class="md-padding">   
  <md-card class="panocard" ng-hide="userData">
    <photosphere src='/imgs/photosphere.jpg'
        width="325"
        height="200"
        speed="3"
        resolution="20"
        controlls="all"
        magin="0 auto"
      ></photosphere>
    <md-card-content>
    <md-content flex="">
    <p>Welcome to PanoramGram, share your photosphere pictures. Please sign up with your social account to get started.</p>
    </md-content>
    <md-card-actions layout="row" layout-align="end center">
          <md-button ng-hide="userData" style="color: #D50F25;" ng-href="account" ng-click="login()">Google</md-button>
          <md-button ng-hide="userData" style="color: #55acee;" ng-href="account" ng-click="loginTwitter()">twitter</md-button>
    </md-card-actions>
  </md-card>


<div ng-repeat="image in pictures" ng-show="userData">
<md-content layout="column">
  <md-content class="md-padding">
    <md-card >
   <!--  <img ng-click="detail(image.picture)" src= "{{image.picture}}" class="thumb"> -->
     <!--  <a ng-href="detail/{{image.$id}}" ><photosphere src= "{{image.picture}}" class="thumb"></photosphere></a> -->

      <a ng-href="detail/{{image.$id}}" ><img src= "{{image.picture}}" class="thumb"></a>
      <md-card-content>
      <br>
          <!-- AUTHOR SECTION -->
      <md-content flex="">
        <md-list>
          <md-list-item>
            <img ng-src="{{users[image.userId].profilePic}}" alt="{{item.who}}" class="md-avatar">
            <div class="md-list-item-text">
              <h3>{{users[image.userId].userName}}</h3>
            </div>
          </md-list-item>
        </md-list>
      </md-content> 
      <!-- END AUTHOR SECTION -->
    <br>
    <!-- FORM SECTION -->

    </md-card>
</div>

</div>



