

<!-- ICON BUTTONS with tooltips -->
  <md-content>
   <md-toolbar>
        <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="home" ng-href="/">
        <md-icon class="material-icons">home</md-icon>
        <md-tooltip>Home</md-tooltip>
      </md-button>
      <h2>
        <span>PanoramaGram</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-show="userData">
        <a ng-href="account"><md-icon class="material-icons" >account_circle</md-icon></a>
        <md-tooltip>My Profile</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" ng-show="userData">
        <a ng-href="/" ng-click="logout()"><md-icon class="material-icons">exit_to_app</md-icon></a>
        <md-tooltip>Log Out</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" >
        <a ng-href="/styleguide"><md-icon class="material-icons">style</md-icon></a>
        <md-tooltip>Style Guide</md-tooltip>
      </md-button>
    </div>
    </md-toolbar>
  </md-content>

<!-- STANDARD BUTTONS  -->
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button md-no-ink class="md-primary">Primary Button</md-button>
      <md-button ng-disabled="true" class="md-primary">Disabled</md-button>
      <md-button style="color: #D50F25;">Google+</md-button>
      <md-button style="color: #3b5998;">facebook</md-button>
      <md-button style="color: #55acee;">twitter</md-button>
    </section>

<!-- CARD CONTENT -->
	<md-card>
	  <img ng-src="http://i.imgur.com/WLq3FuN.jpg" class="md-card-image">
	  <md-card-content>
	    <h2 class="md-title">Style Guide</h2>
  <!-- USER INPUTS -->
    <form ng-submit="">
        <div layout="" layout-sm="column">
        <md-input-container flex="" >
          <label>Enter a comment</label>
          <textarea ></textarea>
        </md-input-container>
      </div>
    </form>
	  </md-card-content>
	  <md-card-actions layout="row" layout-align="end center">
	    <md-button>Submit</md-button>
	  </md-card-actions>
	</md-card>





<!-- MODAL -->
<md-dialog aria-label="Edit Comment"  ng-cloak>
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Edit Comment</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="">
      	<md-icon  aria-label="Close dialog" class="material-icons">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content >
    <div class="md-dialog-content">

		<md-input-container flex="">
			<label>Current Comment</label>
      <textarea ng-model="" columns="1" md-maxlength="150"></textarea>
		</md-input-container>

    </div>
  </md-dialog-content>

  <div class="md-actions" layout="row">
    <md-button ng-click="" >
     save changes
    </md-button>
  </div>
  </form>
</md-dialog>


<!-- CSS, FONTS, SHORTCUT ICON & BRAND COLORS -->
<link rel="shortcut icon" href="http://iconshow.me/media/images/Mixed/line-icon/png/512/camera-512.png">
<link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/bower/angular-material/angular-material.css">
<link href="css/main.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
<meta name="theme-color" content="#3F51B5">
