<div ng-cloak>
	<md-content>
	 <md-toolbar>
	  <div class="md-toolbar-tools">
	    <md-button class="md-icon-button" aria-label="home" ng-href="/">
	      <md-icon class="material-icons">home</md-icon>
	    </md-button>
	    <h2>
	      <span>AVA</span>
	    </h2>
	    <span flex></span>
	    <md-button class="md-icon-button" aria-label="Favorite">
	      <a ng-href="explore" ng-href="explore"><md-icon class="material-icons">explore</md-icon></a>
	    </md-button>
	    <md-button class="md-icon-button" aria-label="Sign In" ng-click="showAdvanced($event, user, $index)">
	      <a ng-href="account"><md-icon class="material-icons" >account_circle</md-icon></a>
	    </md-button>
	  </div>
	  </md-toolbar>
	</md-content>
</div>

<div ng-show="userData" layout="column" layout-align="center center">
<div id="spin"></div>

<h1>Upload a picture</h1>
<input class="hidden" type="file" accept="image/*" capture="camera" id="file-upload">
<br/>
<!-- <img class="pano" id="pano" /> -->
<img src= "{{picture}}">


<div>
	

</div>


	<md-button class="md-raised md-warn" ng-href="/" ng-click="logout()" ng-show="userData">LogOut</md-button>
    <md-button class="md-raised md-accent" ng-show="userData" ng-href="explore">explore</md-button>

<!-- 	<input id="fileInput" name="file" type="file" multiple>
	<md-button id="uploadButton" class="md-raised md-primary"> Choose Files </md-button>
 -->

	<h2>Weclome back</h2>
	<h2>{{userData.facebook.displayName}}</h2>
	<img src= "{{userData.facebook.profileImageURL}}">
	<h2>{{userData.google.displayName}}</h2>
	<img src= "{{userData.google.profileImageURL}}">
	<h2>{{userData.twitter.displayName}}</h2>
	<img src= "{{userData.twitter.profileImageURL}}">



	<pre>{{userData}}</pre>  


</div>