<div ng-cloak>
  <md-content>
   <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="feed" ng-href="/">
        <md-icon class="material-icons">view_stream</md-icon>
        <md-tooltip>Feed</md-tooltip>
      </md-button>
      <h2>
        <span>PanoramaGram</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-show="userData">
        <a ng-href="/" ng-click="logout()"><md-icon class="material-icons">exit_to_app</md-icon></a>
        <md-tooltip>Log Out</md-tooltip>
      </md-button>
    </div>
    </md-toolbar>
  </md-content>
</div>

<div ng-show="userData" layout="column" layout-align="center center">
	<h2>Weclome</h2>
	<!-- <img src= "{{userData.facebook.profileImageURL}}" class="profilePicThumb"> -->
	<h2>{{userData.google.displayName}}</h2>
	<!-- <img src= "{{userData.google.profileImageURL}}" class="profilePicThumb"> -->
	<h2>{{userData.twitter.displayName}}</h2>
	<!-- <img src= "{{userData.twitter.profileImageURL}}" class="profilePicThumb"> -->
<md-content layout="column">
	<md-content class="md-padding">
		<md-card >
		  <md-card-content>
		    <h2 class="md-title">Your Collection</h2>
		<br>

				  <!-- COMMENTS SECTION -->
		  <md-content flex="" >
		    <md-list  ng-repeat="image in pictures">
		      <md-list-item class="md-3-line" ng-show="currentUser === image.userId">
		        <div class="md-list-item-text">
		        <h3>{{users[pictures.userId].userName}}</h3>
		          <!-- <h3>{{image.userId}}</h3>
		          <h4>{{image.picture}}</h4> -->
		          <a ng-href="detail/{{image.$id}}" ><img src= "{{image.picture}}" class="thumb"></a>

		        </div>
		      </md-list-item>
		    </md-list>
		  </md-content> <!-- END COMMENTS SECTION -->
		<br>
		<!-- FORM SECTION -->
		<form ng-submit="userAddPicture()">
		   	<div layout="" layout-sm="column">
				<md-input-container flex="" >
				  <label>Submit the direct URL link to your photosphere</label>
				  <textarea name="" ng-model="newPicture.userPic" ng-keydown="$event.which === 13 && userAddPicture()">Submit the direct URL link to your photosphere</textarea>
				</md-input-container>
			</div>

			</md-card-content>
				<div class="md-actions" layout="row" layout-align="end center">
					<md-button type="submit">
						save
						<md-icon class="material-icons">send</md-icon>
						<md-tooltip>Submit</md-tooltip>
					</md-button>
					</form> <!-- END FORM SECTION -->
				</div>
		</md-card>

</div>