		<!-- COMMENTS SECTION -->
		  <md-content flex="">
		    <md-list>
		      <md-list-item class="md-3-line" ng-repeat="user in users | filter: search.text | orderBy: search.group:direction">
		        <img ng-src="{{userData.google.profileImageURL}}" alt="{{item.who}}" class="md-avatar">
		        <div class="md-list-item-text">
		          <h3>{{user.user.google.displayName}}</h3>
		          <h4>{{user.$id}}</h4>
		          <p>
		            {{user.body}}
		          </p>
		          <md-button ng-click="showAdvanced($event, user, $index)" class="md-primary" >Edit comment </md-button>
		          <md-button class="md-warn" ng-click="removeComment(user)" >Delete comment </md-button>
		        </div>
		      </md-list-item>
		    </md-list>
		  </md-content> <!-- END COMMENTS SECTION -->